body{
    display:grid;
    grid-template-columns: clamp(200px,25%,250px) 1fr;
    grid-template-rows: auto 1fr;
    height:100vh;
    margin:0;
}

.header{
    background-color: blue;
}

.sidebar{
    grid-row: 1/ span 2;
    background: red;
}

.content{
    background-color: green;
}